.navbar {
    background: linear-gradient(90deg, rgb(30, 58, 138), rgb(99, 102, 241));
}

.navbar-brand img {
    height: 75px;
    border-radius: 5px;
}

.navbar-nav {
    margin: auto;
}

.navbar-brand span {
    font-weight: 700;
    color: #ffed4a;
    font-size: 25px;
}

.nav-link {
    color: white !important;
    padding: 10px 15px;
    font-size: 20px;
}

.nav-link:hover {
    color: #5ca7ce !important;
    /* Softer blue for highlight */
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid white;
    transition: transform 0.3s ease, filter 0.3s ease;
    background-color: white;
}

.fa-facebook-f {
    color: #1877f2;
}

.fa-twitter {
    color: #1da1f2;
}

.fa-instagram {
    color: #e4405f;
}

.fa-youtube {
    color: #ff0000;
}

.social-icons a:nth-child(1):hover {
    background-color: #1877f2;
}

.social-icons a:nth-child(2):hover {
    background-color: #1da1f2;
}

.social-icons a:nth-child(3):hover {
    background-color: #e4405f;
}

.social-icons a:nth-child(4):hover {
    background-color: #ff0000;
}

.social-icons a:hover i {
    color: white;
}

/*.fa-youtube {*/
/*    color: red;*/
/*}*/
/*.fa-youtube:hover, .social-icons a:hover {*/
/*    color: #5CA7CE;*/
/*}*/
/* Body CSS */
.card-img-top {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px auto;
    display: block;
    border: 4px solid #455;
}

.bg-color-custom {
    background-color: #33c5fe;
}

.card {
    transition: box-shadow 0.3s ease-in-out;
    padding: 0px 10px;
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* Footer Styles */
.footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Mobile View Adjustments */
@media only screen and (max-width: 767px) {
    .card-body {
        text-align: center;
    }

    .card {
        margin: auto;
    }

    .home {
        text-align: center;
    }
}

@media (max-width: 991px) {
    .navbar-nav {
        text-align: center;
    }

    .social-icons {
        margin-top: 10px;
        text-align: center;
    }
}

@media (max-width: 461px) {
    .navbar-brand span {
        display: none;
    }
}
